<div class="navbar navbar-fixed-top scroll-hide">
    <div class="container-fluid top-bar">
        <div class="pull-right">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown user hidden-xs"><a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <img width="34" height="34" src="./images/avatar-male.jpg" />admin<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="login.html">
                            <i class="icon-signout"></i>退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <button class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="logo" href="index.html">亮丽小屋管理平台</a>
    </div>
    <div class="container-fluid main-nav clearfix">
        <div class="nav-collapse">
            <ul class="nav">
                <li class="dropdown"><a id="product-manager" data-toggle="dropdown" href="#">
                    <span aria-hidden="true" class="se7en-feed"></span>产品管理<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="scroll-pic.html">轮播图管理</a>
                        </li>
                        <li>
                            <a href="likes.html">猜你喜欢管理</a>
                        </li>
                        <li class=""><a  href="series.html">
                            全部产品管理</a>
                            <ul class = "menu" >
                                <li><a href="series.html">系列管理</a></li>
                                <li><a href="product.html">产品管理</a></li>

                                <li><a href="newProduct.html">新品管理</a></li>
                                <li><a href="recommend.html">推荐管理</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="project.html">工程案例管理</a>
                        </li>


                    </ul>
                </li>
                <li class="dropdown">
                    <a id="active-manager"  href="activ.html">
                        <span aria-hidden="true" class="se7en-tables"></span>
                        活动管理
                    </a>
                </li>
                <li class="dropdown">
                    <a id="me-manager" data-toggle="dropdown" href="appManage.html">
                        <span aria-hidden="true" class="se7en-pages"></span>我的管理<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="appManage.html">APP用户管理</a>
                        </li>
                        <li>
                            <a href="collect.html">用户收藏管理</a>
                        </li>
                        <li>
                            <a href="push.html">消息推送管理</a>
                        </li>
                        <li class="">
                            <a  href="category.html">
                                客户服务管理</a>
                            <ul class = "menu" >
                                <li><a href="category.html">类别管理</a></li>
                                <li><a href="problem.html">问题管理</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="feedback.html">问题反馈管理</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a  href="#">
                    <span aria-hidden="true" class="se7en-star"></span>换装管理</a>
                </li>
                <li class="dropdown"><a data-toggle="dropdown" href="#">
                    <span aria-hidden="true" class="se7en-charts"></span>系统管理</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="hostInfoRequestResView"></div>

<!--loding-->
<div class="conver">
    <div class="conContent"></div>
</div>

<script>
    Snow.snowAnmiate($(".nav-collapse"), 110, 12000);
</script>